
*{
    margin: 0px;
    padding: 0px;
}
 
.background{
    background-color: aliceblue;
}

.traffic-div img{
    width: 400px;
    height: 400px;
}

.main-card{
    margin: 0px 150px;
}
.carousel-inner{
    height:600px;
    width: 100%;
}
.card-data{
    text-align: justify;
}


#red-signal-button,
#yellow-signal-button,
#green-signal-button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Active state shadows */
#red-signal-button.active {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

#yellow-signal-button.active {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
}

#green-signal-button.active {
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}



@media(max-width:992px){
    .main-card{
        margin: 0px;
    }

}

@media((max-width:1440px) and ( min-width:1024px)) {
    .carousel-inner{
        height:max-content;
    }
    .traffic-buttons button{
        margin: 10px;
        padding: 10px;
        width: 25%;
    }
}
@media((max-width:1024px)  and ( min-width:768px))  {
    .carousel-inner{
        height:max-content;
    }
    .traffic-buttons button{
        margin: 10px;
        padding:10px;
        width: 25%;
    }
}

@media((max-width:768px))  {
    .carousel-inner{
        height:max-content;
    }
    .traffic-buttons button{
        margin: 10px;
        padding: 10px;
        width: 50%;
    }
    .traffic-div img{
        width: 200px;
        height: 200px;
    }
}

